button {
    padding: 10px;
    background-color: rgb(20, 18, 18);
    border: 2px solid gray;
    color: white;
    cursor: pointer;
    font-size: 2rem;

}
main {
    text-align: center;
    padding-top: 200px;
}
#counter {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #333;
}