.my_slides{
    display: none;
}

.container{
    position: fixed;
    text-align: center;
    margin-top: 20px;
}

#prev{
    position: absolute;
    top: 45%;
    left: 12.5%; 
    padding: 15px;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 2s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#next{
    position: absolute;
    top: 45%;
    right: 12.5%; 
    padding: 15px;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 2s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#prev:hover, #next:hover {
    background: black;
} 

img{
    width: 75%;
    border: 10px solid black;
    border-radius: 10px;  
}



