body {
    background-color: #333232;
}
#container {
    background-color: #0E2431;
    width: 500px;
    height: 275px;
    border: 3px solid #eeeeee;
    margin: 0 auto;
    text-align: center;
}
#btn {
    margin-top: 20px;
}
#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}